<header class="p-3 border-bottom fixed-top" style="white-space:nowrap">
    <nav class="navbar navbar-light  navbar-expand-lg ">
        <div class="container-fluid d-flex">
           <a class="navbar-brand text-dark">ICAPS 2021</a>
                <button
                        class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a href="/home" class="nav-link px-2" :class="{active:curpage=='home'}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="/papers" class="nav-link px-2"  :class="{active:curpage=='papers'}">Papers</a>
                        </li>
                        <!-- <li class="nav-item">
                            <a href="/InvitedSpeakers/" class="nav-link px-2"  :class="{active:curpage=='invitedSpeakers'}">Invited Speakers</a>
                        </li> -->
                        <li class="nav-item dropdown">
                            <a
                              class="nav-link dropdown-toggle"
                              :class="{active:curpage=='schedule'}"
                              href=""
                              id="navbarDropdown"
                              role="button"
                              data-bs-toggle="dropdown"
                              aria-expanded="false"
                            >
                              Schedule
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                              <li>
                                <a class="dropdown-item" href="/Schedule/index.html" :class="{active:curitem=='index'}"
                                  >Schedule Overview</a
                                >
                              </li>
                              <li>
                                <a class="dropdown-item" href="/Schedule/invited-speakers.html" :class="{active:curitem=='invited-speakers'}"
                                  >Invited Speakers</a
                                >
                              </li>
                              <li>
                                <a class="dropdown-item" href="/Schedule/industry-session.html" :class="{active:curitem=='industry-session'}">Industry Session</a>
                              </li>
                            </ul>
                          </li>
			            <li class="nav-item">
                            <a href="/Calls" class="nav-link px-2"  :class="{active:curpage=='calls'}">Calls</a>
                        </li>
                        <li class="nav-item">
                            <a href="/workshops" class="nav-link px-2"  :class="{active:curpage=='workshops'}">Workshops</a>
                        </li>

                        <li class="nav-item">
                            <a href="/demos/" class="nav-link px-2"  :class="{active:curpage=='demos'}">Demos</a>
                        </li>
                        <li class="nav-item">
                            <a href="/Competitions" class="nav-link px-2"  :class="{active:curpage=='competitions'}">Competitions</a>
                        </li>
                        <li class="nav-item">
                            <a href="/Committee" class="nav-link px-2"  :class="{active:curpage=='committee'}">Committee</a>
                        </li>
                        <li class="nav-item">
                            <a href="/sponsorship" class="nav-link px-2"  :class="{active:curpage=='Sponsorship'}">Sponsorship</a>
                        </li>
                        <!-- <li class="nav-item">
                            <a href="/exhibition/" class="nav-link px-2"  :class="{active:curpage=='exhibition'}">Exhibition</a>
                        </li> -->
                        <!-- <li class="nav-item">
                            <a href="/Schedule/" class="nav-link px-2"  :class="{active:curpage=='schedule'}">Schedule</a>
                        </li> -->
                        <li class="nav-item">
                            <a href="/code-of-conduct.html" class="nav-link px-2"  :class="{active:curpage=='codeOfConduct'}">Code of conduct</a>
                        </li>
                        <li class="nav-item">
                            <a href="/registration/" class="nav-link px-2"  :class="{active:curpage=='registration'}">Registration</a>
                        </li>
                    </ul>
                    <!-- login and user info button -->
                    <span class="btn-group dropdown navbar-right">
                        <button type="button" class="btn btn-sm btn-primary" @click="login()" v-if="!isLogin" style="color: white;">
                        Login
                        </button>
                        <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" v-if="isLogin">
                            <span >{{user.profile.first_name  }}</span>
                        </button>
                        <ul class="dropdown-menu">
                        <li>
                            <button  class="dropdown-item" @click="userInfo()" v-if="isLogin && user.profile.first_name" >
                                Profile
                            </button>
                            <button class="dropdown-item " @click="logout" v-if="isLogin">Logout</button>
                        </li>
                        </ul>
                    </span>
                </div>
            </div>
            
        </nav>
   
</header>
