<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="../assets/js/axios.min.js"></script>
    <script src="../assets/js/vue.min.js"></script>

    <link
            rel="shortcut icon"
            type="image/png"
            href="../assets/images/favicon.png"
    />
    <link rel="stylesheet" href="https://www.orchome.com/css/bootstrap/5.0.1/bootstrap.min.css">
    <script src="https://www.orchome.com/js/bootstrap/5.0.1/bootstrap.min.js"></script>
    <script src="https://cdn.staticfile.org/moment.js/2.24.0/moment.min.js"></script>
    <title>ICAPS 2021</title>

    <!-- Bootstrap core CSS -->
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous"> -->

    <!-- Bootstrap Overrides -->
    <link href="../assets/bootstrap/css/styles.css" rel="stylesheet" />
    <link href="../assets/css/custom.css" rel="stylesheet" />

    <!--    <link href="home.css" rel="stylesheet" />-->

    <!-- Bootstrap Icons -->
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"
    />

    <!-- jQuery -->
    <script src="../assets/js/jquery-3.6.0.min.js"></script>
    <script src="../assets/js/custom.js"></script>
</head>
<body>
<div id="app">
<header class="navbar fixed-top p-3 border-bottom" >
    <nav class="navbar navbar-light navbar-expand-lg">
        <div class="container-fluid d-flex">
            <a class="navbar-brand text-dark">ICAPS 2021</a>
            <div>
                <button
                        class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a href="../home" class="nav-link px-2">Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="../papers" class="nav-link px-2">Papers</a>
                        </li>
                        <li class="nav-item">
                            <a href="../Calls" class="nav-link px-2">Calls</a>
                        </li>
                        <li class="nav-item">
                            <a href="../workshops" class="nav-link px-2">Workshops</a>
                        </li>
                        <li class="nav-item">
                            <a href="../Competitions" class="nav-link px-2">Competitions</a>
                        </li>
                        <li class="nav-item">
                            <a href="../Committee" class="nav-link px-2">Committee</a>
                        <li class="nav-item">
                            <a href="../InvitedSpeakers/" class="nav-link px-2">Invited Speakers</a>
                        </li>
                        <li class="nav-item">
                            <a href="../exhibition/" class="nav-link px-2">Exhibition</a>
                        </li>
                        <li class="nav-item">
                            <a href="../Schedule/" class="nav-link px-2">Schedule</a>
                        </li>
                        <li class="nav-item">
                            <a href="../code-of-conduct.html" class="nav-link px-2">Code of conduct</a>
                        </li>
                        <li class="nav-item">
                            <a href="../registration/" class="nav-link px-2">Registration</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <button type="button" class="btn btn-primary">
        <a @click="logout" style="color: white">Logout</a>
    </button>
</header>
<div class="album mt-3">
    <div style="height: 100px" class="d-none d-md-block">
        <!-- padding hack for the fixed navbar -->
    </div>
</div>

    <div class="container" style="min-height: 68vh" v-if="localStorage.getItem('token') && localStorage.getItem('token') != ''">
        <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6">
        <ul class="list-group  ">
            <li class="list-group-item" style="background-color: #1f4e8f;color: white;">
                <div class="row ">
                    <div class="col-10">Contact Information</div>
                    <div class="col-2">
                        <button type="button" class="btn btn-light" v-if="Edit" @click="Edit=!Edit">Edit</button>
                        <button type="button" class="btn btn-light" v-else  @click="updateProfile">Finish</button>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row ">
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" style="text-align: right;font-weight: bold">
                        email
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-8 col-lg-9" style="text-align: left">
                        {{user.email}}
                    </div>
                </div>
            </li>
            <li class="list-group-item" v-for="(value,key) in user.profile">
                <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 " style="text-align: right;font-weight: bold" >
                    {{columns[key]}}
                </div>
                <div class="col-xs-12 col-sm-6 col-md-8 col-lg-9" style="text-align: left"  >
                    <select class="form-select"  v-model="user.profile[key]" v-if="!Edit && columns[key] == 'Country'">
                        <option v-for="item in country" :value="item" >{{item}}</option>
                    </select>
                    <select class="form-select"   v-model="user.profile[key]" v-else-if="!Edit && columns[key]=='Pronoun'">
                        <option value="they/them">they/them</option>
                        <option value="she/her">she/her</option>
                        <option value="he/him">he/him</option>
                        <option value="I don't use pronouns">I don't use pronouns</option>
                        <option value="Prefer no to say">Prefer no to say</option>
                        <option value="Specify your own">Specify your own</option>
                    </select>
                    <input type="text" v-model="user.profile[key]" class="form-control" v-else-if="!Edit">
                    <div v-else>{{value}}</div>
                </div>
                </div>
            </li>
        </ul>
        </div>
        </div>

        <div class="mt-5">
                <div style="height: 100%"></div>
        </div>
        <ul class="list-group">
            <li class="list-group-item" style="background-color: #1f4e8f;color: white;">
                <div class="row">
                    <div class="col-xs-6 col-sm-8 col-md-9 col-xl-10">Registration History</div>
                    <div class="col-xs-6 col-sm-4 col-md-3 col-xl-2">
                        <button type="button" class="btn btn-light" @click="window.location.href = '../registration'">
                            <a style="color: black;" >Registration 2021</a>
                        </button>
                    </div>
                </div>
            </li>
            <div v-if="user.reg && user.reg.registration">
                <li class="list-group-item" v-for="paper in user.reg.paper">
                    <div class="row">
                        <div class="col-6">Publication</div>
                        <div class="col-6">{{(user.reg&&user.reg.publication)?paper.title:"No"}}</div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">
                        <div class="col-6">Conference,Tutorials,Workshops and Expo</div>
                        <div class="col-6">Yes</div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-6">Registration Time</div>
                        <div class="col-6">{{user.reg.registration_datetime}}</div>
                    </div>
                </li>
                <li class="list-group-item"  v-if="user.cv_info && user.cv_info.share_inform">
                    <div class="row">
                        <div class="col-6">I want to be recruited by sponsors</div>
                        <div class="col-6">Yes</div>
                    </div>
                </li>
            </div>
        </ul>
    </div>
</div>
<footer class="footer m-5">
        <div class="container">
            <hr />
            <div class="row d-flex justify-content-center">
                <div class="col col-12 col-lg-2 d-flex justify-content-center mb-2">
                    &copy; ICAPS 2021
                </div>
                <div class="col col-12 col-lg-2 d-flex justify-content-center mb-1">
                    <a href="../privacy-policy.html">Privacy Policy</a>
                </div>
                <div class="col col-12 col-lg-2 d-flex justify-content-center mb-1">
                    <a href="../terms-of-use.html">Terms of Use</a>
                </div>
                <div class="col col-12 col-lg-2 d-flex justify-content-center">
                    <a href="../code-of-conduct.html">Code of Conduct</a>
                </div>
                <div class="col col-12 col-lg-2 d-flex justify-content-center">
                    <a href="mailto:icapsgz2021@gmail.com">Contact Us</a>
                </div>
            </div>
        </div>
    </footer>
</div>
</body>
<script src="./index.js" type="module"></script>
</html>
