#cover {
    background-image: url("../assets/images/cover/cover-wide.png");
    background-repeat: no-repeat;
    background-size: auto 100%;
    height: 100vh;
}

#cover_new {
    background-image: url("../assets/images/banner_large.png");
    background-repeat: no-repeat;
    background-size: auto 100%;
    height: 100vh;
}

#info {
    background-repeat: no-repeat;
    background-size: auto 100%;
}

.cover-banner {
    padding: 40px;
    color: black;
}

.cover-banner2 {
    background-color: rgba(225, 225, 225, 0.8);
    padding: 40px;
    color: black;
}


.sponsor-img {
    padding: 10px;
}


.quicklink {
    background-color: #fff;
    border: none;
}

.quicklink:hover {
    background-color: #1f4e8f;
    color: #fff;
}

.transparent-card {
    background-color: rgba(255, 255, 255, 0.8);
}
.profile-image {
    -webkit-border-radius:50% 50%;
    border-radius: 50% 50%;
}
