<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="shortcut icon"
      type="image/png"
      href="../assets/images/favicon.png"
    />
    <title>ICAPS 2021</title>

    <!-- Bootstrap core CSS -->
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous"> -->

    <!-- Bootstrap Overrides -->
    <link href="../assets/bootstrap/css/styles.css" rel="stylesheet" />
    <link href="../assets/css/custom.css" rel="stylesheet" />
    <link href="schedule.css" rel="stylesheet" />

    <!-- jQuery -->
    <script src="../assets/js/jquery-3.6.0.min.js"></script>
    <script src="../assets/js/custom.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
    <!-- import axios  -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- vue dev version -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  </head>
  <body class="bg-light">
    <header class="navbar fixed-top p-3 border-bottom">
      <nav class="navbar navbar-light navbar-expand-lg">
        <div class="container-fluid d-flex">
          <a class="navbar-brand text-dark">ICAPS 2021</a>
          <div>
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a href="../home" class="nav-link px-2">Home</a>
                </li>
                <li class="nav-item">
                  <a href="../papers" class="nav-link px-2">Papers</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link px-2 active">Invited Speakers</a>
                </li>
                <li class="nav-item">
                  <a href="../Calls" class="nav-link px-2">Calls</a>
                </li>
                <li class="nav-item">
                  <a href="../workshops" class="nav-link px-2">Workshops</a>
                </li>
                <li class="nav-item">
                  <a href="../Competitions" class="nav-link px-2"
                    >Competitions</a
                  >
                </li>
                <li class="nav-item">
                  <a href="../Committee" class="nav-link px-2">Committee</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <div id="app" v-cloak>
      <div class="album mt-3 p-4">
        <div style="height: 100px" class="d-none d-md-block">
          <!-- padding hack for the fixed navbar -->
        </div>

        <div class="container">
          <div class="mb-5">
            <h4>Invited Speakers</h4>
            <hr />
            <!-- <div class="row" >
              <div class="col-6 col-lg-2 col-md-4 col-sm-6 col-xs-6" v-for="speaker in speakers">
                <div
                  class="card shadow-sm mb-4 d-flex justify-content-center align-self-center"
                >
                  <img
                    :src="'../assets/images/speakers/'+speaker.name.split('\n')[0].toLowerCase()+'.jpg'"
                    class="card-img-top"
                  />
                  <div class="card-body bg-light">
                    <h5>{{speaker.name}}</h5>
                  </div>
                  <div class="card-body">
                    <p class="card-text">{{speaker.department}}</p>
                  </div>
                </div>
              </div>
            </div> -->

            <div class="row clearfix">
              <div
                class="col-12 col-lg-6 col-md-12 col-sm-12"
                v-for="speaker in speakers"
              >
                <div class="card mb-3" style="white-space: pre-line">
                  <div class="row no-gutters">
                    <div class="col-md-3">
                      <img
                        :src="'../assets/images/speakers/'+speaker.name.split(' ')[0].toLowerCase()+'.jpg'"
                        class="card-img"
                      />
                    </div>
                    <div
                      class="col-md-9 clearfix"
                      v-if="'department' in speaker"
                    >
                      <div class="card-body">
                        <h5 class="card-title">{{speaker.name}}</h5>
                        <p class="card-text" style="font-size: small">
                          {{speaker.department}}
                        </p>
                      </div>
                    </div>
                  </div>
                  <div style="overflow-y: auto" v-if="'bio' in speaker">
                    <div
                      class="card-body bg-light clearfix"
                      style="height: 30vh; overflow-y: auto"
                    >
                      <p class="card-text clearfix">
                        <b>BIO</b>: {{'bio' in speaker?speaker.bio:"TBD"}}
                      </p>
                    </div>
                    <div
                      class="card-body clearfix"
                      style="height: 30vh; overflow-y: auto"
                    >
                      <h5>{{'title' in speaker?speaker.title:"TBD"}}</h5>
                      <p class="card-text">
                        <b>Abstract</b>: {{'abstract' in
                        speaker?speaker.abstract:"TBD"}}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer m-5">
      <div class="container">
        <hr />
        <div class="row d-flex justify-content-center">
          <div class="col col-12 col-lg-2 d-flex justify-content-center mb-2">
            &copy; ICAPS 2021
          </div>
          <div class="col col-12 col-lg-2 d-flex justify-content-center mb-1">
            <a href="../privacy-policy.html">Privacy Policy</a>
          </div>
          <div class="col col-12 col-lg-2 d-flex justify-content-center mb-1">
            <a href="../terms-of-use.html">Terms of Use</a>
          </div>
          <div class="col col-12 col-lg-2 d-flex justify-content-center">
            <a href="../code-of-conduct.html">Code of Conduct</a>
          </div>
        </div>
      </div>
    </footer>
  </body>
  <script src="./index.js"></script>
</html>
