<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		    <!-- <meta http-equiv="refresh" content="0;url=../InvitedSpeakers/" /> -->
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link
		rel="shortcut icon"
		type="image/png"
		href="../assets/images/favicon.png"
		/>
		<title>ICAPS 2021</title>

		<!-- Bootstrap core CSS -->
		<!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous"> -->

		<!-- Bootstrap Overrides -->
		<link href="../assets/bootstrap/css/styles.css" rel="stylesheet" />
		<link href="../assets/css/custom.css" rel="stylesheet" />
    
    <!-- Schedule CSS -->
    <link rel="stylesheet" type="text/css" href="./schedule.css"/> 
    <link rel="stylesheet" type="text/css" href="./workshop.css"/>

    <!-- jQuery -->
    <script src="../assets/js/jquery-3.6.0.min.js"></script>
    <script src="../assets/js/custom.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>

    <!-- import axios  -->
    <script src="../assets/js/axios.min.js"></script>
    <!-- vue dev version -->
    <script src="../assets/js/vue.min.js"></script>


  </head>
  <body class="bg-light">
    
    <div id='icaps-header'>
      <myheader curpage='schedule' curitem="index"></myheader>
    </div>
    <script src="/assets/component/myheader.js" type="module"></script>
    <div id="app" v-cloak>
      <div class="album mt-3 p-4" style="min-height: 80vh;">
        <div style="height: 100px" class="d-none d-md-block">
        </div>

        <div class="container">
          <div class="mb-5">
            <div style="margin: 0em 0em 1em 0em">
              <h4>Schedule Overview</h4>
              <hr>
              <div class="row justify-content-between">
                <!-- Week choice -->
                <div class="col">
                  <div class="btn-group btn-block" role="group" v-model="week" data-toggle="buttons" >
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
                    <label class="btn btn-outline-primary" for="btnradio1" @click="week = 1;week1_prog = 1" v-html="titleOfWeek1"></label>
                  
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio2" @click="week = 2" v-html="titleOfWeek2"></label>
                  </div>
                </div>
                <!-- Timezone btn  -->
                <div class="col col-auto align-self-center" style="margin-top: 1em;">	
                  <strong>Timezone:</strong>
                  <select v-model="zone">
                    <option v-for="option in zoneOptions" :value="option.value">
                      {{option.text}}
                    </option>
                  </select>
                </div>
                <!-- Search function -->

                <div class="col col-auto align-self-center" v-if="week == 2">
                  <div class="input-group" style="margin-top: 1em;">
                    <input type="text" class="form-control" placeholder="Paper ID/Title/Authors" v-model="keywords" @keyup.enter="searchEnter" >
                    <button class="btn btn-outline-secondary" type="button" @click="searchEnter" >Search</button>
                    <button class="btn btn-outline-secondary" type="button" @click="searchReset" >Reset</button>
                  </div>
                </div>
              </div>
            </div>
            <!-- Week1 -->
            <div v-if="week == 1">

                     <div class="btn-group btn-group-sm" role="group" data-toggle="buttons" >
<!--                        <input type="radio" class="btn-check" name="btnradio" id="btnradio1_week1" autocomplete="off" :checked="week1_prog == 1">-->
                        <button class="btn btn-outline-primary" @click="week1_prog = 1">DC</button>
<!--                        <input type="radio" class="btn-check" name="btnradio" id="btnradio2_week1" autocomplete="off">-->
                        <button class="btn btn-outline-primary"  @click="week1_prog = 2">Tutorial</button>
<!--                        <input type="radio" class="btn-check" name="btnradio" id="btnradio3_week1" autocomplete="off">-->
                        <button class="btn btn-outline-primary"  @click="week1_prog = 3">Workshop</button>
                      </div>
                                                          <div class="w-100" style="margin: 1em 1em 1em 1em"></div>

              <div class="container">
                     <div v-if="week1_prog == 1">
                        <div class="col" style="margin: 1em 0em 0em 0em">
								<h2 class="text-center">
									<span class="badge badge-primary" style="background-color: #0072bc;"> DC Schedule </span>
								</h2>
							</div>
                                                                                 <div class="w-100" style="margin: 1em 1em 1em 1em"></div>

                       <div class="row row-cols-2">
                         <div class="col-md-1-3 col-lg-1-3" style="border:0.3px #cccccc;border-left-style:solid;border-right-style:solid;">
							<div  class="col" v-for="item in DC_sched">
<!--                  &lt;!&ndash; talbe time &ndash;&gt;-->
                              		<div v-if="item.type != 'End'">
									<div v-if="isOver(DC_day,item.startHour)"><div class="style_time">{{showDayWithMin(DC_day, item.startHour, item.startMin)}} - {{showDayWithMin(DC_day, item.endHour, item.endMin)}}</div></div>
									<div v-else> <div class="style_timeover">{{showDayWithMin(DC_day, item.startHour, item.startMin)}} - {{showDayWithMin(DC_day, item.endHour, item.endMin)}}</div> </div>
<!--                  &lt;!&ndash; table activities &ndash;&gt;-->
									<div v-if="item.type == 'dc_session'">
										<div v-if="isOver(DC_day,item.endHour)">
											<div class="style_session">
												<div style="margin-left: 0.5em;" >
														<BIG><I>{{DC_programs[item.num]}}</I></BIG>
												</div>
											</div>
										</div>
                                    </div>
                                      <div v-else-if="item.type == 'Socializing'">
                              <div class="style_socializing">
                                <div>
                                  <strong >{{DC_programs[item.num]}}<div v-if="!isOver(DC_day,item.endHour)">(Over)</div></strong>
                                </div>
                              </div>
                            </div>
                            <div v-else-if="item.type == 'break'">
                                  <div class="gather"><strong>{{DC_programs[item.num]}}</strong></div>
                            </div>
                                      <div v-else>
										<div class="style_event" data-bs-toggle="modal" data-bs-target="#modal" @click="setModalDetail(0, item.type, 0, 0, 0, DC_programs[item.num])">
                                <div class="tip tip-right" data-tip="Show Details">
                                  <strong>{{item.type}}<div v-if="!isOver(DC_day,item.endHour)">(Over)</div></strong>
									</div>
								    </div>
										</div>
                                    </div>
                              <div v-else>
                              <div class="style_time">End</div>

                              </div>
									</div>


                      </div>

                         </div></div>
                     </div>

                      <div v-if="week1_prog == 2">
                        <div class="col" style="margin: 1em 0em 0em 0em">
								<h2 class="text-center">
									<span class="badge badge-primary" style="background-color: #0072bc;"> Tutorial Schedule </span>
								</h2>
							</div>
                                                                                  <div class="w-100" style="margin: 1em 1em 1em 1em"></div>

                      <div class="col-md-8 col-lg-8" class="tutorial day 1" v-for="(Workday,j) in Week1_tutorial">
                        							<div class="row row-cols-2">
							<div  class="col" v-for="tutorial in Workday.tutorial_list">
                                    <div  v-for="item in tutorial" >
                  <!-- talbe time -->
									<div v-if="isOver(Workday.day,item.time)"><div class="style_time">{{showDay(Workday.day,item.time)}} - {{showDay(Workday.day,item.endtime)}}</div></div>
									<div v-else> <div class="style_timeover">{{showDay(Workday.day,item.time)}} - {{showDay(Workday.day,item.endtime)}}</div> </div>
                  <!-- table activities -->
									<div v-if="item.type == 'tutorial_session'">
										<div v-if="isOver(Workday.day,item.endtime)">
											<div class="style_session">
												<div style="margin-left: 0.5em;" class="tip tip-right" data-tip="Tutorial Description">
													<a :href="'tutorial_template.html?tutNum=Tutorial'+item.num">
														<BIG><I>{{Tutorials[item.num]}}</I></BIG>
													</a>
												</div>
											</div>
										</div>
										<div v-else>
											<div class="style_timeover">
												<div style="margin-left: 0.5em;">
													{{Tutorials[item.num]}}
												</div>
											</div>
										</div>
									</div>
									<div v-else>
										<div class="style_event">
											<strong>{{item.type}}</strong>
										</div>
									</div>
								    </div>
                                    </div>
                                </div>


                      </div>

                      </div>
                     <div v-if="week1_prog == 3">
                                               <div class="col" style="margin: 1em 0em 0em 0em">
								<h2 class="text-center">
									<span class="badge badge-primary" style="background-color: #0072bc;"> Workshop Schedule </span>
								</h2>
							</div>
<!--                                            <div class="btn-group-toggle" role="group" data-toggle="buttons" >-->
<!--                                              <select v-model="workshop_day">-->
<!--                                                <option :value="4">Day 1</option>-->
<!--                                                <option :value="5">Day 2</option>-->
<!--                                                <option :value="6">Day 3</option>-->

<!--                                              </select>-->
<!--                                              </div>-->
<!--                       <input type="checkbox" class="btn-check" name="btnradio" id="btnradio1_workshop_day1" autocomplete="off">-->
<!--                        <label class="btn btn-outline-primary" for="btnradio1_workshop_day1" @click="workshop_day = 4">Day 1</label>-->
<!--                        <input type="checkbox" class="btn-check" name="btnradio" id="btnradio1_workshop_day2" autocomplete="off">-->
<!--                        <label class="btn btn-outline-primary" for="btnradio1_workshop_day2" @click="workshop_day = 5">Day 2</label>-->
<!--                        <input type="checkbox" class="btn-check" name="btnradio" id="btnradio1_workshop_day3" autocomplete="off">-->
<!--                        <label class="btn btn-outline-primary" for="btnradio1_workshop_day3" @click="workshop_day = 6">Day 3</label>-->
<!--                                            </div>-->
                       <div v-for="(workshop_day,i) in Workshop_Days">
                                            <div class="w-100" style="margin: 1em 1em 1em 1em"></div>
                       <div class="container d-none d-sm-block">
                         <h5>Day {{i+1}}</h5>
                    <div class="row">
                           <div class="col-1"></div>
                      <div class="col-11">
                        <div class="row">

                           <div class="col-6">
                             <div class="row">
                               <div class="col-1 style_time" v-for="time in 12" style="border:0.3px #cccccc;border-style:solid;"><font size="1">{{showDay(workshop_day,time - 1)}}</font></div>
                             </div>
                           </div>
                           <div class="col-6">
                             <div class="row">
                               <div class="col-1 style_time" v-for="time in 12" style="border:0.3px #cccccc;border-style:solid;"><font size="1">{{showDay(workshop_day,time + 11)}}</font></div>
                             </div>
                           </div>
                        </div>
                    </div>
                    </div>
                    <div class="row" v-for="workshop in workshop_list">
                         <div class="col-1"  v-bind:class="setWorkShopClassFunc(workshop)" style="border:0.3px #cccccc;border-style:solid;">                                 <a class="tip tip-right" data-tip="Go to workshop website" v-bind:class="setWorkShopClassFunc(workshop)" :href="getWorkShopUrl(workshop)" target="_blank">{{workshop}}</a>              </div>
                        <div class="col-11">
                        <div class="row">

                           <div class="col-6">
                             <div class="row">
                               <div class="col-1 style_time" v-for="time in 12" style="border:0.3px #cccccc;border-style:solid;">
                                 <div v-if="isWorkshopTime(time-1, workshop, workshop_day)" >
                                 <a class="btn btn-outline-primary tip tip-right" data-tip="Go to workshop website" v-bind:class="setWorkShopClassFunc(workshop)" :href="getWorkShopUrl(workshop)" target="_blank"></a>

                                 </div>
                                 <div v-else class="style_time"><label></label> </div>

                               </div>
                             </div>
                           </div>
                           <div class="col-6">
                                                          <div class="row">
                             <div class="col-1 style_time" v-for="time in 12" style="border:0.3px #cccccc;border-style:solid;">
                                 <div v-if="isWorkshopTime(time+11, workshop, workshop_day)" >
                                 <a class="btn btn-outline-primary tip tip-right" data-tip="Go to workshop website" v-bind:class="setWorkShopClassFunc(workshop)" :href="getWorkShopUrl(workshop)" target="_blank"></a>
                                 </div>
                                 <div v-else class="style_time"><label></label> </div>

                               </div>
                                                          </div>
                           </div>
                        </div>

                    </div>


              </div>


            </div>
                       </div>
                       <div class="d-block d-sm-none"> Please visit the desktop site to view the workshop schedule.</div>

                     </div>
            </div>

            <!-- Week2 -->
            <div v-if="week == 2">
              <div class="container">
                <div class="row row-cols-2">
                  <div class="col-md-1-5 col-lg-1-5" style="border:0.3px #cccccc;border-left-style:solid;border-right-style:solid;" v-for="(Workday,j) in Week2">
                    <div class="w-100"></div>
                    <div class="col" style="margin: 1em 0em 0em 0em">
                      <h2 class="text-center">
                        <span class="badge badge-primary" style="background-color: #0072bc;"> Day {{j+1}} </span>
                      </h2>
                    </div>

                      <div v-for="item in Workday">
                        <div class="col" v-if="searchShow[item.type+item.num]||searchShow[item.type]">
                          <!-- talbe time -->
                          <div v-if="isOver(Week2[j][0].day,item.time)"><div class="style_time" style="line-height:18px;">
                            <font size="1"><strong>{{showDay(Week2[j][0].day,item.time)}}</strong></font></div></div>
                          <div v-else> <div class="style_timeover" style="line-height:18px;">
                            <font size="1"><strong>{{showDay(Week2[j][0].day,item.time)}}</strong></font></div></div>
                          <!-- table activities   :style="setHeight(item.time,item.end)"-->
                          <div>
                            <div v-if="item.type == 'session'">
                              <div v-if="isOver(Week2[j][0].day,item.time)">
                                <div class="style_session" class="row align-items-center" data-bs-toggle="modal" data-bs-target="#modal" @click="setModalDetail(item.num, item.type, Week2[j][0].day, item.time, item.end)">
                                  <div style="margin-left: 0.5em;" class="tip tip-right" data-tip="Show Details">
                                    <I><font size="2">Session{{item.num}}:</font></I><br><strong class="sessionText">{{session[item.num]}}<span v-if="item.num==11&&item.time==8">/Opening remarks</span></strong>
                                  </div>
                                </div>
                              </div>
                              <div v-else>
                                <div class="style_sessionover">
                                  <div style="margin-left: 0.5em;">
                                    <font size="2"><strong>Session{{item.num}}:</strong></font><br><font size="1"><I>{{session[item.num]}}<div v-if="item.num==11&&item.time==8">/Opening remarks</div></I></font>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div v-else-if="item.type == 'Socializing'">
                              <div class="style_socializing" data-bs-toggle="modal" data-bs-target="#modal" @click="setModalDetail(0, item.type, Week2[j][0].day, item.time, item.end)">
                                <div class="tip tip-right" data-tip="Show Time">
                                  <strong >Socializing<div v-if="!isOver(Week2[j][0].day,item.time)">(Over)</div></strong>
                                </div>
                              </div>
                            </div>
                            <div v-else-if="item.type == 'gather'">
                              <a href="https://gather.town/app/V6z77iZjpGdUzBPo/ICAPS21" target="_blank">
                                  <div class="gather"><strong class="tip tip-right" data-tip="Go to Gather.Town">Live Get-Together</strong></div>
                              </a>
                            </div>
                            <div v-else>
                              <div class="style_event" data-bs-toggle="modal" data-bs-target="#modal" @click="setModalDetail(0, item.type, Week2[j][0].day, item.time, item.end)">
                                <div class="tip tip-right" data-tip="Show Details">
                                  <strong>{{item.type}}<div v-if="!isOver(Week2[j][0].day,item.time)">(Over)</div></strong>
                                </div>
                              </div>
                            </div>
                          </div>

                        </div>

                      </div>
                    </div>
                  </div>

                </div>
              </div>

            </div>
            <!-- Modal of the table -->
            <div class="modal fade" id="modal" data-bs-keyboard="false" aria-labelledby="staticBackdropLabel" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content" :style="setModalColor(modal_type)">
                <div class="modal-header">
                  <h4 class="modal-title" id="modal">
                    <div v-if="modal_type == 'session'">Session {{modal_sessionNum}}: {{session[modal_sessionNum]}}</div>
                    <div v-else>{{modal_type}}</div>
                  </h4>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div class="container">
                    <div class="mb-5">
                      <p style="margin-top: 1.5em;">
                        <div v-if="modal_type == 'session'">
                          <a v-for='item in paper[modal_sessionNum]' @click="setChannelID(item.id)" style="color: #51585E;" href='../exhibition/index.html' target="blank">
                            <p class="paperTitle">{{item.title}} <br>
                            <span style="font-size:x-small;"><strong>Authors: </strong><I>{{item.authors}} </I>
                            <span v-if="item.keywords != ''"><br><strong>Keywords: </strong><I>{{item.keywords}}</I></P></span></span>
                            <hr>
                          </a>
                          <div style="text-align: end;">
                            <strong>Time</strong>: <small><i>{{showModalDay(modal_date,modal_time,modal_end)}}</i></small><br>
                            <strong>Place</strong>: <small><i>Session room in <a href="https://gather.town/app/V6z77iZjpGdUzBPo/ICAPS21" target="_blank" style="color: black;">
                              <span class="modalGather">Gather.Town</span>
                            </a></i></small><br>
                          </div>
                        </div>
                        <div v-else-if="modal_type == 'Socializing'">
                          <div class="text-center">
                            <strong>Go to the bar and chat with others!<br><br>Time : </strong>
                            <small><i>{{showModalDay(modal_date,modal_time,modal_end)}}</i></small><br>
                            <strong>Place</strong>: <small><i>Bar room in <a href="https://gather.town/app/V6z77iZjpGdUzBPo/ICAPS21" target="_blank" style="color: black;">
                              <span class="modalGather">Gather.Town</span>
                            </a></i></small><br>
                          </div>
                        </div>
                        <div v-else-if="modal_type == 'Invited Talk'||modal_type == 'Demos'">
                          <div style="text-align: end;">
                            <strong>Time</strong>: <small><i>{{showModalDay(modal_date,modal_time,modal_end)}}</i></small><br>
                            <strong>Place</strong>: <small><i>Session room in <a href="https://gather.town/app/V6z77iZjpGdUzBPo/ICAPS21" target="_blank" style="color: black;">
                              <span class="modalGather">Gather.Town</span>
                            </a></i></small><br>
                          </div>
                        </div>

                    <div v-else-if="modal_type == 'DC Invited Talk'||modal_type == 'DC Panel'">
                          <div style="text-align: end;">
                            <strong>{{modal_data}}</strong><br>
                            </a></i></small><br>
                          </div>
                        </div>

                        <div v-else>
                          <div style="text-align: end;">
                            <strong>Time</strong>: <small><i>{{showModalDay(modal_date,modal_time,modal_end)}}</i></small><br>
                            <strong>Place</strong>: <small><i>TBC</i></small><br>
                          </div>
                        </div>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>  
            </div>

          </div>
        </div>
      </div>
    
    
    
    
    
    </div> 
   
    <footer class="footer m-5">
      <div class="container">
        <hr />
        <div class="row d-flex justify-content-center">
          <div class="col col-12 col-lg-2 d-flex justify-content-center mb-2">
            &copy; ICAPS 2021
          </div>
          <div class="col col-12 col-lg-2 d-flex justify-content-center mb-1">
            <a href="../privacy-policy.html">Privacy Policy</a>
          </div>
          <div class="col col-12 col-lg-2 d-flex justify-content-center mb-1">
            <a href="../terms-of-use.html">Terms of Use</a>
          </div>
          <div class="col col-12 col-lg-2 d-flex justify-content-center">
            <a href="../code-of-conduct.html">Code of Conduct</a>
          </div>
        </div>
      </div>
    </footer>
  </body>
  <script type="module" src="./schedule.js"></script> 

</html>
