<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		    <!-- <meta http-equiv="refresh" content="0;url=../InvitedSpeakers/" /> -->
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link
		rel="shortcut icon"
		type="image/png"
		href="../assets/images/favicon.png"
		/>
		<title>ICAPS 2021</title>

		<!-- Bootstrap core CSS -->
		<!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous"> -->

		<!-- Bootstrap Overrides -->
		<link href="../assets/bootstrap/css/styles.css" rel="stylesheet" />
		<link href="../assets/css/custom.css" rel="stylesheet" />
    
    <!-- Schedule CSS -->
    <link rel="stylesheet" type="text/css" href="./schedule.css"/> 

    <!-- jQuery -->
    <script src="../assets/js/jquery-3.6.0.min.js"></script>
    <script src="../assets/js/custom.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>

    <!-- import axios  -->
    <script src="../assets/js/axios.min.js"></script>
    <!-- vue dev version -->
    <script src="../assets/js/vue.min.js"></script>


  </head>
  <body class="bg-light">
    
    <div id='icaps-header'>
      <myheader curpage='schedule' curitem="index"></myheader>
    </div>
    <script src="/assets/component/myheader.js" type="module"></script>
    <div id="app" v-cloak>
      <div class="album mt-3 p-4" style="min-height: 80vh;">
        <div style="height: 100px" class="d-none d-md-block">
        </div>

        <div class="container">
          <div class="mb-5">
            <div style="margin: 0em 0em 1em 0em">
              <h4>Schedule Overview</h4>
              <hr>
              <div class="row justify-content-between">
                <!-- Week choice -->
                <div class="col">
                  <div class="btn-group btn-block" role="group" v-model="week">
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
                    <label class="btn btn-outline-primary" for="btnradio1" @click="week = 1" v-html="titleOfWeek1"></label>
                  
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio2" @click="week = 2" v-html="titleOfWeek2"></label>
                  </div>
                </div>
                <!-- Timezone btn  -->
                <div class="col col-auto align-self-center" style="margin-top: 1em;">	
                  <strong>Timezone:</strong>
                  <select v-model="zone">
                    <option v-for="option in zoneOptions" :value="option.value">
                      {{option.text}}
                    </option>
                  </select>
                </div>
                <!-- Search function -->
                <div class="col col-auto align-self-center">
                  <div class="input-group" style="margin-top: 1em;">
                    <input type="text" class="form-control" placeholder="Paper ID/Title/Authors" v-model="keywords" @keyup.enter="searchEnter">
                    <button class="btn btn-outline-secondary" type="button" @click="searchEnter">Search</button>
                    <button class="btn btn-outline-secondary" type="button" @click="searchReset">Reset</button>
                  </div>
                </div>
              </div>				
            </div>
            <!-- Week1 -->
            <div v-if="week == 1">
              <div class="alert alert-warning" role="alert">
                Coming soon!
              </div>
            </div>
            <!-- Week2 -->
            <div v-if="week == 2">
              <div class="container">
                <div class="row row-cols-2">
                  <div class="col-md-1-5 col-lg-1-5" style="border:0.3px #cccccc;border-left-style:solid;border-right-style:solid;" v-for="(Workday,j) in Week2">
                    <div class="w-100"></div>						
                    <div class="col" style="margin: 1em 0em 0em 0em">
                      <h2 class="text-center">
                        <span class="badge badge-primary" style="background-color: #0072bc;"> Day {{j+1}} </span>
                      </h2>
                    </div>
                    
                      <div v-for="item in Workday">
                        <div class="col" v-if="searchShow[item.type+item.num]||searchShow[item.type]">
                          <!-- talbe time -->
                          <div v-if="isOver(Week2[j][0].day,item.time)"><div class="style_time" style="line-height:18px;">
                            <font size="1"><strong>{{showDay(Week2[j][0].day,item.time)}}</strong></font></div></div>
                          <div v-else> <div class="style_timeover" style="line-height:18px;">
                            <font size="1"><strong>{{showDay(Week2[j][0].day,item.time)}}</strong></font></div></div>
                          <!-- table activities   :style="setHeight(item.time,item.end)"-->
                          <div>
                            <div v-if="item.type == 'session'">
                              <div v-if="isOver(Week2[j][0].day,item.time)">
                                <div class="style_session" class="row align-items-center" data-bs-toggle="modal" data-bs-target="#modal" @click="setModalDetail(item.num, item.type, Week2[j][0].day, item.time, item.end)">
                                  <div style="margin-left: 0.5em;" class="tip tip-right" data-tip="Show Details">
                                    <I><font size="2">Session{{item.num}}:</font></I><br><strong class="sessionText">{{session[item.num]}}<span v-if="item.num==11&&item.time==8">/Opening remarks</span></strong>
                                  </div>
                                </div>	
                              </div>
                              <div v-else> 
                                <div class="style_sessionover">
                                  <div style="margin-left: 0.5em;">
                                    <font size="2"><strong>Session{{item.num}}:</strong></font><br><font size="1"><I>{{session[item.num]}}<div v-if="item.num==11&&item.time==8">/Opening remarks</div></I></font>
                                  </div>	
                                </div>
                              </div>
                            </div>		
                            <div v-else-if="item.type == 'Socializing'">
                              <div class="style_socializing" data-bs-toggle="modal" data-bs-target="#modal" @click="setModalDetail(0, item.type, Week2[j][0].day, item.time, item.end)">
                                <div class="tip tip-right" data-tip="Show Time">
                                  <strong >Socializing<div v-if="!isOver(Week2[j][0].day,item.time)">(Over)</div></strong>
                                </div>
                              </div>	
                            </div>
                            <div v-else-if="item.type == 'gather'">
                              <a href="https://gather.town/app/V6z77iZjpGdUzBPo/ICAPS21" target="_blank">
                                  <div class="gather"><strong class="tip tip-right" data-tip="Go to Gather.Town">Live Get-Together</strong></div>
                              </a>
                            </div>
                            <div v-else>
                              <div class="style_event" data-bs-toggle="modal" data-bs-target="#modal" @click="setModalDetail(0, item.type, Week2[j][0].day, item.time, item.end)">
                                <div class="tip tip-right" data-tip="Show Details">
                                  <strong>{{item.type}}<div v-if="!isOver(Week2[j][0].day,item.time)">(Over)</div></strong>
                                </div>
                              </div>
                            </div>
                          </div>
                          
                        </div>
                        
                      </div>
                    </div>
                  </div>	
                    
                </div>
              </div>
            </div>
            <!-- Modal of the table -->
            <div class="modal fade" id="modal" data-bs-keyboard="false" aria-labelledby="staticBackdropLabel" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content" :style="setModalColor(modal_type)">
                <div class="modal-header">
                  <h4 class="modal-title" id="modal">
                    <div v-if="modal_type == 'session'">Session {{modal_sessionNum}}: {{session[modal_sessionNum]}}</div>
                    <div v-else>{{modal_type}}</div>
                  </h4>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div class="container">
                    <div class="mb-5">
                      <p style="margin-top: 1.5em;">
                        <div v-if="modal_type == 'session'">
                          <a v-for='item in paper[modal_sessionNum]' @click="setChannelID(item.id)" style="color: #51585E;" :href="'../exhibition/index.html?channel='+item.id" target="_blank">
                            <p class="paperTitle">{{item.title}} <br>
                            <span style="font-size:x-small;"><strong>Authors: </strong><I>{{item.authors}} </I>
                            <span v-if="item.keywords != ''"><br><strong>Keywords: </strong><I>{{item.keywords}}</I></P></span></span>
                            <hr>
                          </a>
                          <div style="text-align: end;">
                            <strong>Time</strong>: <small><i>{{showModalDay(modal_date,modal_time,modal_end)}}</i></small><br>
                            <strong>Place</strong>: <small><i>Session room in <a href="https://gather.town/app/V6z77iZjpGdUzBPo/ICAPS21" target="_blank" style="color: black;">
                              <span class="modalGather">Gather.Town</span>
                            </a></i></small><br>
                          </div>
                        </div>
                        <div v-else-if="modal_type == 'Socializing'">
                          <div class="text-center">
                            <strong>Go to the bar and chat with others!<br><br>Time : </strong>
                            <small><i>{{showModalDay(modal_date,modal_time,modal_end)}}</i></small><br>
                            <strong>Place</strong>: <small><i>Bar room in <a href="https://gather.town/app/V6z77iZjpGdUzBPo/ICAPS21" target="_blank" style="color: black;">
                              <span class="modalGather">Gather.Town</span>
                            </a></i></small><br>
                          </div>
                        </div>
                        <div v-else-if="modal_type == 'Invited Talk'||modal_type == 'Demos'">
                          <div style="text-align: end;">
                            <strong>Time</strong>: <small><i>{{showModalDay(modal_date,modal_time,modal_end)}}</i></small><br>
                            <strong>Place</strong>: <small><i>Session room in <a href="https://gather.town/app/V6z77iZjpGdUzBPo/ICAPS21" target="_blank" style="color: black;">
                              <span class="modalGather">Gather.Town</span>
                            </a></i></small><br>
                          </div>
                        </div>
                        <div v-else>
                          <div style="text-align: end;">
                            <strong>Time</strong>: <small><i>{{showModalDay(modal_date,modal_time,modal_end)}}</i></small><br>
                            <strong>Place</strong>: <small><i>TBC</i></small><br>
                          </div>
                        </div>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>  
            </div>

          </div>
        </div>
      </div>
    
    
    
    
    
    </div> 
   
    <footer class="footer m-5">
      <div class="container">
        <hr />
        <div class="row d-flex justify-content-center">
          <div class="col col-12 col-lg-2 d-flex justify-content-center mb-2">
            &copy; ICAPS 2021
          </div>
          <div class="col col-12 col-lg-2 d-flex justify-content-center mb-1">
            <a href="../privacy-policy.html">Privacy Policy</a>
          </div>
          <div class="col col-12 col-lg-2 d-flex justify-content-center mb-1">
            <a href="../terms-of-use.html">Terms of Use</a>
          </div>
          <div class="col col-12 col-lg-2 d-flex justify-content-center">
            <a href="../code-of-conduct.html">Code of Conduct</a>
          </div>
        </div>
      </div>
    </footer>
  </body>
  <script type="module" src="./schedule.js"></script> 

</html>
