<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <script src="/assets/js/vue.min.js"></script>

      <link
              rel="shortcut icon"
              type="image/png"
              href="../assets/images/favicon.png"
      />
      <link rel="stylesheet" href="/assets/bootstrap/css/styles.css">
      <script src="/assets/js/bootstrap.min.js"></script>
      <script src="../assets/js/axios.min.js"></script>
      <title>ICAPS 2021</title>

  <link rel="shortcut icon" type="image/png" href="../assets/images/favicon.png" />
  <link rel="stylesheet" href="/assets/bootstrap/css/styles.css">
  <script src="/assets/js/bootstrap.min.js"></script>
  <script src="../assets/js/axios.min.js"></script>
  <title>ICAPS 2021</title>

      <!-- Bootstrap Overrides -->
      <link href="../assets/css/custom.css" rel="stylesheet" />

  <!-- Bootstrap Overrides -->
  <link href="../assets/css/custom.css" rel="stylesheet" />

      <!-- Bootstrap Icons -->
      <link
              href="/assets/css/bootstrap-icons.css"
      />

  <!-- Bootstrap Icons -->
  <link href="/assets/css/bootstrap-icons.css" />

  <!-- jQuery -->
  <script src="../assets/js/jquery-3.6.0.min.js"></script>
  <script src="../assets/js/custom.js"></script>
  <script src="/assets/component/myheader.js" type="module"></script>

</head>

<body class="bg-light">
  <div id='icaps-header'>
    <myheader></myheader>
  </div>
  <div id="app" v-cloak>
      <div class="album mt-3 p-4" style="min-height: 80vh;">
        <div style="height: 100px" class="d-none d-md-block">
          <!-- padding hack for the fixed navbar -->
        </div>

        <div class="col-xs-12 col-sm-6 col-md-5 col-lg-4 col-xl-3 ">
          <h1 id="site-name">Login</h1>
          <form>
            <div class="form-group">
              <label for="id_username">Email:</label> <input class="form-control" type="email" name="username"
                id="id_username" v-model="user.email" @click="handlerClick()">
              <label for="id_password">Password:</label> <input class="form-control" type="password" name="password"
                id="id_password" v-model="user.password" @click="handlerClick()">
              <small style="color: red" v-if="errorTip.isError">
                <ul>
                  <li>{{errorTip.message}}</li>
                </ul>
              </small>
            </div>
            <br>
          </form>
          <button class="btn btn-icaps text-white" @click="login">Log In</button>
          <br>
          <div class="row">
            <div class="col-6">
              <a href="./forgotpasswd/">Forgot my password</a>
            </div>
            <div class="col-6" style="text-align: right">
              <a href="/registration">Create new account</a>
            </div>
          </div>
        </div>
      </div>

</div>
      <footer class="footer m-5">
        <div class="container">
          <hr />
          <div class="row d-flex justify-content-center">
            <div class="col col-12 col-lg-2 d-flex justify-content-center mb-2">
              &copy; ICAPS 2021
            </div>
            <div class="col col-12 col-lg-2 d-flex justify-content-center mb-1">
              <a href="../privacy-policy.html">Privacy Policy</a>
            </div>
            <div class="col col-12 col-lg-2 d-flex justify-content-center mb-1">
              <a href="../terms-of-use.html">Terms of Use</a>
            </div>
            <div class="col col-12 col-lg-2 d-flex justify-content-center">
              <a href="../code-of-conduct.html">Code of Conduct</a>
            </div>
          </div>
        </div>
      </footer>
</body>
<script src="./index.js" type="module"></script>

</html>
<style>
  [v-cloak]{
    display: none;
  }
</style>