<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="../assets/js/axios.min.js"></script>
    <script src="../assets/js/vue.min.js"></script>


    <link
            rel="shortcut icon"
            type="image/png"
            href="../assets/images/favicon.png"
    />
    <link rel="stylesheet" href="https://www.orchome.com/css/bootstrap/5.0.1/bootstrap.min.css">
    <script src="https://www.orchome.com/js/bootstrap/5.0.1/bootstrap.min.js"></script>

    <title>ICAPS 2021</title>

    <!-- Bootstrap core CSS -->
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous"> -->

    <!-- Bootstrap Overrides -->
    <link href="../assets/bootstrap/css/styles.css" rel="stylesheet" />
    <link href="../assets/css/custom.css" rel="stylesheet" />

    <!--    <link href="home.css" rel="stylesheet" />-->

    <!-- Bootstrap Icons -->
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"
    />

    <!-- jQuery -->
    <script src="../assets/js/jquery-3.6.0.min.js"></script>
    <script src="../assets/js/custom.js"></script>
    <style type="text/css">
        .warn{
            border-style:solid;
            border-color: red;
        }
        .examplmModal{
            display: none;
        }
        [v-cloak] {
            display: none;
        }
    </style>
</head>
<body>
<div id="app" v-cloak>
<header class="navbar fixed-top p-3 border-bottom">
    <nav class="navbar navbar-light navbar-expand-lg">
        <div class="container-fluid d-flex">
            <a class="navbar-brand text-dark">ICAPS 2021</a>
            <div>
                <button
                        class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a href="../home" class="nav-link px-2">Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="../papers" class="nav-link px-2">Papers</a>
                        </li>
                        <li class="nav-item">
                            <a href="../Calls" class="nav-link px-2">Calls</a>
                        </li>
                        <li class="nav-item">
                            <a href="../workshops" class="nav-link px-2">Workshops</a>
                        </li>
                        <li class="nav-item">
                            <a href="../Competitions" class="nav-link px-2">Competitions</a>
                        </li>
                        <li class="nav-item">
                            <a href="../Committee" class="nav-link px-2">Committee</a>
                        <li class="nav-item">
                            <a href="../InvitedSpeakers/" class="nav-link px-2">Invited Speakers</a>
                        </li>
                        <li class="nav-item">
                            <a href="../exhibition/" class="nav-link px-2">Exhibition</a>
                        </li>
                        <li class="nav-item">
                            <a href="../Schedule/" class="nav-link px-2">Schedule</a>
                        </li>
                        <li class="nav-item">
                            <a href="../code-of-conduct.html" class="nav-link px-2">Code of conduct</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <div class="btn-group dropdown">
        <button type="button" class="btn btn-primary">
            <a href="../userInfo/" v-if="isLogin && user.profile.first_name" style="color: white;">{{user.profile.first_name}}</a>
            <a href="../login" v-if="!isLogin" style="color:white">Login</a>
          </button>
          <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false" v-if='isLogin'>
            <span class="visually-hidden">Toggle Dropdown</span>
          </button>
        <ul class="dropdown-menu">
          <li><buttom class="dropdown-item" @click="logout" v-if="isLogin">Logout</a></li>
        </ul>
    </div>
</header>
    <main class="container" style="min-height: 80vh">

        <section class="py-5 container d-flex h-100">
            <div
                    class="row py-lg-5 d-flex justify-content-center align-self-center"
            >
                <div class="accordion row" id="accordionExample">
                    <div class="accordion-item ">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"  aria-controls="collapseOne" aria-expanded="false">
                                <strong>1.{{isLogin?"Update Profile":"Create a new Profile"}} </strong>
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse"   aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <div class="row">
                                    <div class="clearfix col-md-6 col-xs-12 col-sm-12 col-lg-3">
                                        <div class="mb-3">
                                            <label  class="form-label" style="margin: 1em 0 0.5em 0.8em">Email</label>
                                            <input type="text" class="form-control"  placeholder="Input your email" v-model="user_info.email" :disabled="isLogin">
                                            <small  style="color: red" v-if="isEmail"><ul><li>Email is not valid</li></ul></small>
                                        </div>
                                    </div>
                                    <div class="clearfix col-md-6 col-xs-12 col-sm-12 col-lg-3">
                                        <div class="mb-3">
                                            <label  class="form-label" style="margin: 1em 0 0.5em 0.8em">First name</label>
                                            <input type="text" class="form-control" :class="{warn:isFirst_name}"   placeholder="" v-model="user_info.first_name">
                                            <small  style="color: red" v-if="isFirst_name"><ul><li>This field is required</li></ul></small>
                                        </div>
                                    </div>
                                    <div class="clearfix col-md-6 col-xs-12 col-sm-12 col-lg-3">
                                        <div class="mb-3">
                                            <label  class="form-label" style="margin: 1em 0 0.5em 0.8em">Last name</label>
                                            <input type="text" class="form-control" :class="{warn:isLast_name}" placeholder="" v-model="user_info.last_name">
                                            <small  style="color: red" v-if="isLast_name"><ul><li>This field is required</li></ul></small>
                                        </div>
                                    </div>
                                    <div class="clearfix col-md-6 col-xs-12 col-sm-12 col-lg-3">
                                        <div class="mb-3">
                                            <label  class="form-label" style="margin: 1em 0 0.5em 0.8em">Institution</label>
                                            <input type="text" class="form-control" :class="{warn:isInstitution}" placeholder="" v-model="user_info.institution">
                                            <small  style="color: red" v-if="isInstitution"><ul><li>This field is required</li></ul></small>
                                        </div>
                                    </div>
                                    <div class="clearfix col-md-6 col-xs-12 col-sm-12 col-lg-3" v-if="!isLogin">
                                        <div class="mb-3">
                                            <label  class="form-label" style="margin: 1.5em 0 0.5em 0.8em">Password</label>
                                            <input type="password" class="form-control" :class="{warn:isPassword}" placeholder="Input Password" v-model="user_info.password">
                                            <small  style="color: red" v-if="isPassword"><ul><li>This field is required</li></ul></small>
                                            <small  style="color: red" v-if="isLessSix"><ul><li>Password minimum length is 6</li></ul></small>
                                        </div>
                                    </div>
                                    <div class="clearfix col-md-6 col-xs-12 col-sm-12 col-lg-3" v-if="!isLogin">
                                        <div class="mb-3">
                                            <label  class="form-label" style="margin: 1.5em 0 0.5em 0.8em">Confirm Password</label>
                                            <input type="password" class="form-control" :class="{warn:isPassword2}"placeholder="Confirm Password" v-model="user_info.password2">
                                            <small  style="color: red" v-if="isPassword2"><ul><li>This field is required</li></ul></small>
                                            <small  style="color: red" v-if="user_info.password != user_info.password2"><ul><li>Password mismatch</li></ul></small>
                                        </div>
                                    </div>
                                    <div class="clearfix col-md-6 col-xs-12 col-sm-12 col-lg-3">
                                        <div class="mb-3">
                                            <label  class="form-label" style="margin: 1.5em 0 0.5em 0.8em">Pronoun</label>
                                            <select class="form-select"  :class="{warn:isPronoun}" v-model="user_info.pronoun">
                                                <option value="they/them">they/them</option>
                                                <option value="she/her">she/her</option>
                                                <option value="he/him">he/him</option>
                                                <option value="I don't use pronouns">I don't use pronouns</option>
                                                <option value="Prefer no to say">Prefer not to say</option>
                                                <option value="Specify your own">Specify your own</option>
                                            </select>
                                            <small  style="color: red" v-if="isPronoun"><ul><li>This field is required</li></ul></small>
                                        </div>
                                    </div>
                                    <div class="clearfix col-md-6 col-xs-12 col-sm-12 col-lg-3">
                                        <div class="mb-3">
                                            <label  class="form-label" style="margin: 1.5em 0 0.5em 0.8em">Country/Region</label>
                                            <select class="form-select"  :class="{warn:isCountry}" v-model="user_info.country">
                                                <option v-for="item in country" :value="item" >{{item}}</option>
                                            </select>
                                            <small  style="color: red" v-if="isCountry"><ul><li>This field is required</li></ul></small>
                                        </div>
                                    </div>
                                    <button type="button" class="btn btn-primary"   @click="checkEmail"   style="margin: 1.5em 0 0.5em 0em" v-if="!isLogin">Create</button>
                                    <button type="button" class="btn btn-primary"   @click="updateProfile"   style="margin: 1.5em 0 0.5em 0em" v-if="isLogin">Update</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item" >
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo"  aria-controls="collapseTwo" :disabled="!isLogin">
                                <strong>2.Register and Payment</strong>
                                 <span v-if="!isLogin" style="font-weight: lighter;margin-left: 1rem">Only logged-in users can register and pay</span>
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse"    aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                            <div class="accordion-body " :hidden="!isLogin">
                                <div class="row">
                                    <div class="clearfix col-md-12 col-xs-12 col-sm-12 col-lg-12">
                                        <p style="font-weight: lighter">If you are a full time student,you must register with an email of your university.</p>
                                    </div>

                                    <div class="clearfix col-md-12 col-xs-12 col-sm-12 col-lg-12">
                                        <div class="mb-3">
                                            <div class="card">
                                                <div class="card-body">
                                                    <h6 class="card-title"><strong>Sessions</strong></h6>
                                                    <div class="form-check" v-if="(user.reg && !user.reg.registration) || !user.reg">
                                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" :checked="(user.reg && !user.reg.registration) || !user.reg" disabled >
                                                        <label class="form-check-label" for="flexCheckDefault">
                                                            <p>Conference,Tutorials,Workshops and Expo (This is a must-option</p>
                                                        </label>
                                                    </div>
                                                    <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12" v-if="(user.reg && !user.reg.registration) || !user.reg">
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" id="check_item" value="" v-model="reg_info.is_student" :disabled="!is_student">
                                                            <label class="form-check-label" for="flexCheckDefault">
                                                                <p>I am full time student<span v-if="!is_student" style="margin-left: 1rem">(You can select this option only if you use the student email during registration.</span></p>
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12">
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" value="" v-model="reg_info.publication">
                                                            <label class="form-check-label" for="flexCheckDefault">
                                                                <p>Publication<span style="margin-left: 1rem">( If you have a paper accepted,please be sure to click this option!</span></p>
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div v-if="reg_info.publication">
                                                        <ul class="list-group list-group-horizontal" style="width: 100%;">
                                                        <li class="list-group-item" style="width: 30%;">Paper ID</li>
                                                        <li class="list-group-item" style="width: 70%;">Paper Title</li>
                                                    </ul>
                                                    <ul class="list-group list-group-horizontal" style="width: 100%;" v-for="paper in reg_info.papers">
                                                        <li class="list-group-item" style="width: 30%;" >{{paper.id}}</li>
                                                        <li class="list-group-item" style="width: 70%;" >{{paper.title}}</li>
                                                    </ul>
                                                    <ul class="list-group list-group-horizontal" style="width: 100%;">
                                                        <li class="list-group-item" style="width: 100%;color: darkblue;font-size: x-large;text-align: center;" @click='addPaper'>+</li>
                                                    </ul>
                                                    </div>
                                                     
                                            
                                                    <div class="card-text" style="margin-left: 1.5rem"><small class="text-muted">Check at least one</small></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="clearfix col-md-12 col-xs-12 col-sm-12 col-lg-12">
                                        <div class="mb-3">
                                            <div class="card" >
                                                <div class="card-header">
                                                    Late Registration
                                                </div>
                                                <ul class="list-group list-group-flush">
                                                    <li class="list-group-item">
                                                        <div class="row">
                                                            <div class="col-xs-1 col-sm-1 col-sm-1 col-lg-1">
                                                                <strong>QTY</strong>
                                                            </div>
                                                            <div class="col-xs-9 col-sm-9 col-sm-9 col-lg-9">
                                                                <strong>Description</strong>
                                                            </div>
                                                            <div class="col-xs-2 col-sm-2 col-sm-2 col-lg-2" style="text-align: right;">
                                                                <strong>Price(USD)</strong>
                                                            </div>
                                                        </div>
                                                    </li>

                                                    <li class="list-group-item" v-if='!user.reg || (user.reg && !user.reg.registration)'>
                                                        <div class="row">
                                                            <div class="col-xs-1 col-sm-1 col-sm-1 col-lg-1">
                                                                <strong>1</strong>
                                                            </div>
                                                            <div class="col-xs-9 col-sm-9 col-sm-9 col-lg-9" >
                                                                Registration fee {{reg_info.is_student?"(student)":"(non student)"}}
                                                            </div>
                                                            <div class="col-xs-2 col-sm-2 col-sm-2 col-lg-2" style="text-align: right" >
                                                                {{reg_info.is_student?"20.00":"50.00"}}
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="list-group-item" v-if="reg_info.papers.length > 0">
                                                        <div class="row">
                                                            <div class="col-xs-1 col-sm-1 col-sm-1 col-lg-1">
                                                                <strong>{{(user.reg && user.reg.registration)?'1':'2'}}</strong>
                                                            </div>
                                                            <div class="col-xs-9 col-sm-9 col-sm-9 col-lg-9">
                                                                Publication
                                                            </div>
                                                            <div class="col-xs-2 col-sm-2 col-sm-2 col-lg-2" style="text-align: right;">
                                                                {{reg_info.papers.length * 150}}.00
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="list-group-item">
                                                        <div class="row">
                                                            <div class="col-xs-4 col-sm-8 col-sm-8 col-lg-9">
                                                                <strong></strong>
                                                            </div>
                                                            <div class="col-xs-4 col-sm-2 col-sm-2 col-lg-1">
                                                                <strong>Total:</strong>
                                                            </div>
                                                            <div class="col-xs-4 col-sm-2 col-sm-2 col-lg-2" style="text-align: right;" >
                                                                {{reg_info.is_student * 20 + (!reg_info.is_student && reg_info.registration)* 50 + reg_info.papers.length * 150}}.00
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="list-group-item">
                                                        <p style="text-align: justify;color: dimgray;">
                                                            We have limited fund for reimbursing all requesters in the order of earliest-registration-first. The requirement is that the given person attends at least X amount of time (e.g., 5 hours) of ICAPS 2021.
                                                        </p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div style="text-align: center;width: 100%;">
                                        <!-- <script src="https://www.paypal.com/sdk/js?client-id=AWNahEkuGKJiJ3HHYXO6XNRBvL1WUnQpnv9bYBSOItoskfkjhP4d-EqOlQoYZFabgZone_r-qUyvpfm_"></script> -->
                                        <script src="https://www.paypal.com/sdk/js?client-id=AVrWIwOUjJSbL0KvYZBxyOpje01WWC21yZyU2Xkvp6Ja6nl4Fz3QqS7c24gMFgK2fF_GB24jEle0y4o5"></script>
                                        <div id="paypal-button-container"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingFive">
                            <button class="accordion-button collapsed"  type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree">
                                <strong>3.Invitation Letter and Proof of Participation</strong>
                            </button>
                        </h2>
                        
                            <div id="collapseThree" class="accordion-collapse collapse"  aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <div class="row">
                                    <p style="text-align: justify">This is a virtual-only conference. VISA letters of invitation are generated only for the purpose of applying for a VISA. If you need documentation of your participation at the meeting for reimbursemnet, please use your registration receipt as proof of payment and your certificate of attendance (above in the Payment and Receipt section as your proof of attendance.</p>
                                    <button type="button" class="btn btn-primary"   @click="nextWindow"   style="margin: 1.5em 0 0.5em 0em" >Next</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingSix">
                            <button class="accordion-button collapsed"   type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour">
                                <strong>4.Get Recruited by our Sponsors</strong>
                            </button>
                        </h2>
                        <div id="collapseFour" class="accordion-collapse collapse"   aria-labelledby="headingSix" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p style="text-align: justify">If you would like to let the ICAPS 2021 sponsors know that you are looking for a job/position, check this box and we will share your information with them.</p>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" v-model="uploadFile.share_inform">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        <p>Share my profile information and my accepted papers and presentations</p>
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" v-model="uploadFile.add_mail_list">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        <p >Add me to a temporary ICAPS email list (email remains anonymous)</p>
                                    </label>
                                </div>
                                <div class="card-text" style="margin-left: 1.5rem"><small class="text-muted">You do not need to save. Changes are immediate in this panel.</small></div>
                                <hr>
                                <div class="mb-3">
                                    <label for="formFile" class="form-label" >Please use the PDF format for your CV if possible.</label>
                                    <input class="form-control" type="file" id="formFile" @change="getfile">
                                    <small  style="color: red" v-if="uploadFile.fail"><ul><li>Fail to submit.</li></ul></small>
                                    <button type="button" style="width: 100%;height:30px;margin-top: 1rem" class="btn btn-primary" @click="submit">submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade "  id="verifyCode" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <p class="modal-title" id="exampleModalLabel" style="text-align: justify;font-size: small;font-weight: lighter">We have sent an email to your email.Please input the verification code you received in the box below</p>
                            </div>
                            <div class="modal-body">
                                <div class="mb-3">
                                    <input type="text" class="form-control"  placeholder="Verification Code" v-model="user_info.code">
                                    <small  style="color: red" v-if="isErrorCode"><ul><li>Error verification code</li></ul></small>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" @click="Create" >Save</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade "  id="publication" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <p class="modal-title"  style="text-align: justify;font-size: small;font-weight: bold">Publication</p>
                            </div>
                            <div class="modal-body">
                                <div class="mb-3">
                                    <label  class="form-label" style="margin: 1.5em 0 0.5em 0.8em">Paper ID</label>
                                    <input type="text" class="form-control"  v-model="reg_info.id">
                                </div>
                                <div class="mb-3">
                                    <label  class="form-label" style="margin: 1.5em 0 0.5em 0.8em">Paper title</label>
                                    <input type="text" class="form-control"  v-model="reg_info.title">
                                    <small  style="color: red" v-if="isErrorPaper"><ul><li>{{errorPaperMessage}}</li></ul></small>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" @click="checkPaper" >Save</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade "  id="Registered" tabindex="-1" aria-labelledby="exampleModalLabel" aria-modal="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <p class="modal-body" id="exampleModalLabel1">{{emailErrorMsg}}</p>
                            </div>
                            <div class="modal-footer ">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal" tabindex="-1" id='updateProfile'>
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-body">
                          <p>Updata profile successful</p>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="modal" tabindex="-1" id='checkPaper'>
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-body">
                          <p>Duplicate ID</p>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="modal" tabindex="-1" id='submitSuccessful'>
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-body">
                          <p>Submit successful!</p>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="modal" tabindex="-1" id='paymentSuccessful'>
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-body">
                          <p>Payment successful!</p>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </section>

    </main>
</div>
<footer class="footer m-5">
    <div class="container">
        <hr />
        <div class="row d-flex justify-content-center">
            <div class="col col-12 col-lg-2 d-flex justify-content-center mb-2">
                &copy; ICAPS 2021
            </div>
            <div class="col col-12 col-lg-2 d-flex justify-content-center mb-1">
                <a href="../privacy-policy.html">Privacy Policy</a>
            </div>
            <div class="col col-12 col-lg-2 d-flex justify-content-center mb-1">
                <a href="../terms-of-use.html">Terms of Use</a>
            </div>
            <div class="col col-12 col-lg-2 d-flex justify-content-center">
                <a href="../code-of-conduct.html">Code of Conduct</a>
            </div>
        </div>
    </div>
</footer>
</body>
<script src="./index.js" type="module"></script>
</html>


