<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="shortcut icon"
      type="image/png"
      href="../assets/images/favicon.png"
    />
    <title>ICAPS 2021</title>
    <!-- Bootstrap Overrides -->
    <link href="../assets/bootstrap/css/styles.css" rel="stylesheet" />
    <link href="../assets/css/custom.css" rel="stylesheet" />
	
	<!-- Layout -->
	<link href="static/css/layui.css" rel="stylesheet" />
    <script src="static/js/layui.js"></script>
    
    <link href="static/css/registration_style.css" rel="stylesheet"/>

  <!--introduce the vue and axios-->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
  <script src="https://cdn.bootcdn.net/ajax/libs/axios/0.21.1/axios.js"></script>
  <!-- <script src="https://unpkg.com/axios/dist/axios.min.js"></script> -->
  <script src="https://cdn.bootcss.com/vue-resource/1.5.0/vue-resource.min.js"></script> 
  <!--jump to login.html-->
  <script>  function tz(){window.location.href='login.html';}</script>
  
  </head>
  <body>
    <header class="navbar fixed-top p-3 border-bottom">
      <nav class="navbar navbar-light navbar-expand-lg">
        <div class="container-fluid d-flex">
          <a class="navbar-brand text-dark">ICAPS 2021</a>
          <div>
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a href="../home" class="nav-link px-2">Home</a>
                </li>
                <li class="nav-item">
                  <a href="../papers" class="nav-link px-2">Papers</a>
                </li>
                <li class="nav-item">
                  <a href="../Calls" class="nav-link px-2">Calls</a>
                </li>
                <li class="nav-item">
                  <a href="../workshops" class="nav-link px-2">Workshops</a>
                </li>
                <li class="nav-item">
                  <a href="../Competitions" class="nav-link px-2"
                    >Competitions</a
                  >
                </li>
                <li class="nav-item">
                  <a href="../Committee" class="nav-link px-2">Committee</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link px-2 active">Registration</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main class="container" style="min-height: 80vh">
      <div class="album mt-3 p-4">
        <div style="height: 100px" class="d-none d-md-block">
          <!-- padding hack for the fixed navbar -->
        </div>
        <div class="col col-12 p-4">
			<section>
				<header>
				  <h4 class="top align-middle">
					<span> Registration </span>
                    <!--
					<div class="btn-group btn-group-sm d-none d-lg-inline-flex" role="group">
						<input
							type="radio"
							class="btn-check toggle-viz"
							name="btnradio"
							id="btnradio1"
							checked
						/>
						<input
							type="radio"
							class="btn-check toggle-viz"
							name="btnradio"
							id="btnradio2"
							onchange="currentTippy = null;start()"
						/>
					</div>
                    -->
				  </h4>
				  <hr />
				</header>
				<div class="row" id="app" v-cloak>
          {{message}}
					<!--<div class="col col-12 col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">-->
						<div class="d-none d-lg-block" id="container">
							<div class="layui-collapse" lay-accordion lay-filter="test">
								<div class="layui-colla-item">
									<h2 class="layui-colla-title">1. Login or Create a new Profile</h2>
									<div class="layui-colla-content layui-show">
                                    	<p>
                                        Either <button type="button" onclick="tz()" class="layui-btn layui-btn-radius layui-btn-normal">Login >></button>to an exisitng profile<br>OR
                                        </p>
                                        <div class="layui-bg-gray" style="padding: 15px;">
                                      		<div class="layui-row layui-col-space15">
                                        		<div class="layui-col-md12">
                                         			<div class="layui-card">
			                                            <div class="layui-card-header">Create a profile</div>
            			                                <div class="layui-card-body ul">
                       										<ul>
                                                            	<li>Your registration receipt and barcode will be delivered to the email listed below</li>                    	
																<li><b>Firstname, Lastname</b> and <b>Institution</b> will be printed on your meeting badge</li>
																<li><b>Visa Name</b> will be used in your Visa letter of invitation. It should match exactly the name on your <b>passport.</b></li>
                                                            </ul>
                                                            <hr/>
                                                            <form class="layui-form" action="#">
                                                            	<div class="layui-form-item">
                                                                	<div class="layui-form-item">
                                                                        <div class="layui-inline">
                                                                          <label class="layui-form-label">Email</label><br>

                                                                          <div class="layui-input-inline">
                                                                            <input type="text" name="email" v-model="user_info.email" autocomplete="off" class="layui-input">
                                                                          </div>
                                                                        </div>
                                                                        <div class="layui-inline">
                                                                          <label class="layui-form-label">First name</label><br>

                                                                          <div class="layui-input-inline">
                                                                            <input type="text" name="first_name:" v-model="user_info.first_name" autocomplete="off" class="layui-input">
                                                                          </div>
                                                                        </div>
                                                                        <div class="layui-inline">
                                                                          <label class="layui-form-label">Last name</label><br>

                                                                          <div class="layui-input-inline">
                                                                            <input type="text" name="last_name:" v-model="user_info.last_name" autocomplete="off" class="layui-input">
                                                                          </div>
                                                                        </div>
                                                                        <div class="layui-inline">
                                                                              <label class="layui-form-label">Pronoun: (optional, visible on badge)</label><br>

                                                                              <div class="layui-input-inline">
                                                                                <select name="pronoun" v-model="user_info.pronoun">
                                                                                  <option value="--">--</option>
                                                                                  <option value="they/them">they/them</option>
                                                                                  <option value="she/her">she/her</option>
                                                                                  <option value="he/him">he/him</option>
                                                                                  <option value="I don't use pronouns">I don't use pronouns</option>
                                                                                  <option value="Prefer not to say">Prefer not to say</option>
                                                                                  <option value="Specify your own">Specify your own</option>
                                                                                 
                                                                                </select>
                                                                              </div>
                                                                         </div>
                                                                            
                                                                      </div>
                                                                      
                                                                    <div class="layui-form-item">
                                                                      	<div class="layui-inline">
                                                                          <label class="layui-form-label">Institution</label><br>

                                                                          <div class="layui-input-inline">
                                                                            <input type="text" name="institution" v-model="user_info.institution" autocomplete="off" class="layui-input">
                                                                          </div>
                                                                        </div>
                                                                        <div class="layui-inline">
                                                                          <label class="layui-form-label">Password</label><br>

                                                                          <div class="layui-input-inline">
                                                                            <input type="password" name="password" v-model="user_info.password" autocomplete="off" class="layui-input">
                                                                          </div>
                                                                        </div>
                                                                        <div class="layui-inline">
                                                                          <label class="layui-form-label">Confirm  Password</label><br>

                                                                          <div class="layui-input-inline">
                                                                            <input type="password" name="confirm_password" v-model="user_info.password2" autocomplete="off" class="layui-input">
                                                                          </div>
                                                                        </div>
                                                                        <div class="layui-inline">
                                                                              <label class="layui-form-label">Country</label><br>

                                                                              <div class="layui-input-inline">
                                                                                <select name="country" v-model="user_info.country">
                                                                                  <option value=""></option>
                                                                                  <option value="AFGHANISTAN">AFGHANISTAN</option>
                                                                                  <option value="ALAND ISLANDS">ALAND ISLANDS</option>
                                                                                </select>
                                                                              </div>
                                                                        </div>
                                                                      </div>
                                                                </div>      
                                                               
                                                                <div class="layui-btn-container">
                                                                	<button type="submit" class="layui-btn  layui-btn-normal layui-btn-radius">Next >></button>
                                                                </div>
                                                            </form>
                                                        </div>
                                          			</div>
                                        		</div>
                                        	</div>
                                    	</div> 
                                    </div>
								</div>
								<div class="layui-colla-item">
									<h2 class="layui-colla-title">2. Register</h2>
									<div class="layui-colla-content">
                                    	<p>If you are a full time student at an accredited instutution and present your valid student ID at meeting checkin, you may take advantage of student discounts.</p>
                                        <div class="layui-input-block-new">
                                  <p><label><input type="checkbox" name="like1[write]" lay-skin="primary" >    <b> I am a full time student</b></label></p><p>If you are a student, you must upload a scanned image of your student ID in jpg format.</p>
<p><input type="file" name="file" id="test20"></p>
<hr/>
<p>  <label><b>Sessions</b></label></p>
<p><label><input type="checkbox" name="like1[write]" lay-skin="primary" >    <b>Conference, Tutorials, Workshops and Expo</b></label></p>
<p style="color:#B8B8B8">Check at least one</p>
<div class="layui-btn-container">
                                                                	<button type="submit" class="layui-btn  layui-btn-normal">Next >></button>
                                                                </div>
		                                </div>
                                    
                                    </div>
								</div>
								<div class="layui-colla-item">
									<h2 class="layui-colla-title">3. Payment and Receipt</h2>
<!--									<div class="layui-colla-content">内容区域</div>-->
								</div>
								<div class="layui-colla-item">
									<h2 class="layui-colla-title">4. GST/VAT Tax Invoice</h2>
									<div class="layui-colla-content">We do not collect GST or VAT for this meeting. No tax invoice is necessary for this meeting.</div>
								</div>
								<div class="layui-colla-item">
									<h2 class="layui-colla-title">5. VISA Letter of Invitation</h2>
									<div class="layui-colla-content">This is a virtual-only conference. VISA letters of invitation are generated only for the purpose of applying for a VISA. If you need documentation of your participation at the meeting for reimbursemnet, please use your registration receipt as proof of payment and your certificate of attendance (above in the Payment and Receipt section as your proof of attendance.</div>
								</div>
								<div class="layui-colla-item">
									<h2 class="layui-colla-title">6. Get Recruited by our Sponsors</h2>
									<div class="layui-colla-content">
                                    <p>If you would like to let the <b>ICAPS 2021</b> sponsors know that you are job hunting, check this box and we will share your information with them.</p>
                                <div class="layui-input-block-new">
                                  <p><label><input type="checkbox" name="like1[write]" lay-skin="primary" >    <b>Share my profile information and my accepted papers and presentations</b></label></p>
                                  <p><label><input type="checkbox" name="like1[read]" lay-skin="primary">    <b>Add me to a temporary ICML email list (email remains anonymous)</b></label></p>
                                  <p style="color:#B8B8B8">You do not need to save. Changes are immediate in this panel.</p>
                                  <hr/>
                                  <p>Please use the PDF format for your CV if possible.</p>
                                  <p><b>Upload My CV</b></p>
									<input type="file" name="file" id="test20">
                                </div>
                                    </div>
								</div>
							</div>
						</div>
					</div>
				<!--</div>-->
			</section>
        </div>
      </div>
	<!--
      <script>
        var button1 = document.getElementById("btnradio1");
        var button2 = document.getElementById("btnradio2");

        $(document).ready(function () {
          button1.checked = true;
          button2.checked = false;
          setup_paper_page();
          start();
          tippy("[data-tippy-content]", { trigger: "mouseenter focus" });
        });

        $(window).resize(function () {
          const width = Math.max(
            document.documentElement.clientWidth,
            window.innerWidth || 0
          );
          if (width <= 992) {
            var paper_list = document.getElementById("accordionPaperList");
            paper_list.classList.remove("d-none");
            var canvas = document.getElementById("canvas");
            canvas.classList.add("d-none");
            button1.checked = true;
            button2.checked = false;
          }
        });
      </script>
    -->
	</main>
    <footer class="footer m-5">
      <div class="container">
        <hr />
        <div class="row d-flex justify-content-center">
          <div class="col col-12 col-lg-2 d-flex justify-content-center mb-2">
            &copy; ICAPS 2021
          </div>
          <div class="col col-12 col-lg-2 d-flex justify-content-center mb-1">
            <a href="../privacy-policy.html">Privacy Policy</a>
          </div>
          <div class="col col-12 col-lg-2 d-flex justify-content-center mb-1">
            <a href="../terms-of-use.html">Terms of Use</a>
          </div>
          <div class="col col-12 col-lg-2 d-flex justify-content-center">
            <a href="../code-of-conduct.html">Code of Conduct</a>
          </div>
        </div>
      </div>
    </footer>
    <script src="./index.js" ></script>
  </body>
</html>
