@media screen and (max-width: 992px)  
{
    body { padding-top: 70px; }
}

a {
    text-decoration: none!important;
}

.nav-item:hover {
    color: #fff!important;
}

.nav-item-active {
    color: #fff!important;
}

.navbar-muted {
    background-color: rgb(231, 231, 221);
}

.text-icaps {
    color: #f5821f!important;
}

.disabled {
    cursor: not-allowed!important;
    pointer-events: unset!important;
}

.nav-link:hover {
    color: #f5821f !important;
}

.fixed-top {
    background-color: white !important;
}

.fixed-top.scrolled {
    padding: 0!important;
    transition: background-color 300ms linear;
}
