.list-group-keyword.active {
  background-color: #e9ecef;
  border-color: #212529;
  color: #f5821f;
}

.accordion-header-item {
  color: #1f4e8f !important;
  background-color: #f7f7f7;
}

.accordion-header-item.collapsed {
  color: black !important;
}

#proc_text :hover {
  color: white;
}
